body{
    font-family:  'Roboto', sans-serif;
    background-color: #eeeded;
    margin: 0px;
    padding: 0px;
}
.main-text{
    margin: auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.intro{
    background-color: lightcyan;
    padding: 20px;
}
h1, h2, h3, h5{
    text-align: center;
}

.quote{
    font-style: italic;
    color: darkgray;
    font-size: 1.4em;
    text-align: center;
}
.overview{

}
.core{

}
.conclusion{

}
.vocab{
    padding-bottom: 20px;
    border-radius: 4px;
}
p{
    padding-left: 20px;
    padding-right: 20px;
}
